.pic {
  position: relative;
  margin: 20px;
  width: 300px;
}

.l-pic {
  position: relative;
  margin: 20px;
  width: 450px;
}

.pic:hover .c, .l-pic:hover .c {
  opacity: 1;
}

/* .l-pic:hover .c {
  opacity: 1;
} */

.bw, .c {
  height: 100%;
  width: 100%;
  /* object-fit: scale-down; */
}

.bw {
  display: block;
}

.c {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
}

@media (max-width: 550px) {
  .l-pic {
    width: 400px;
  }

  .pic {
    width: 400px;
  }
}

@media (max-width: 450px) {
  .l-pic {
    width: 300px;
  }

  .pic {
    width: 300px;
  }
}

/* @media (max-width: 750px) {
  .l-pic {
    width: calc(100vw);
  }

  .pic {
    width: 400px;
  }
} */
