.pic {
  position: relative;
  margin: 10px;
  flex-grow: 1;
  flex-shrink: 0;
}

.pic-2-3 {
  flex-basis: 300px;
}

.pic-3-2 {
  flex-basis: 450px;
}

.pic:hover .c {
  opacity: 1;
}

.bw, .c {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.bw {
  display: block;
}

.c {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
}
