.pic {
  position: relative;
  margin: 10px;
  width: 22vw;
}

@media (max-width: 1200px) {
  .pic {
    width: 30vw;
  }
}

@media (max-width: 768px) {
  .pic {
    width: 45vw;
  }
}

@media (max-width: 514px) {
  .pic {
    width: 90vw;
  }
}

.pic:hover .c {
  opacity: 1;
}

.bw, .c {
  height: 100%;
  width: 100%;
}

.bw {
  display: block;
}

.c {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
}
