.pic {
  position: relative;
  margin: 10px;
  flex: 1 0 220px;
}

.pic:hover .c {
  opacity: 1;
}

.bw, .c {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.bw {
  display: block;
}

.c {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
}
